<ul class="breadcrumb">
  <li><a href="/">Contests</a> <span class="divider">/</span></li>
  <li class="active">New contest</li>
</ul>
<legend>New contest</legend>
<%= render :partial => 'form', :locals => { :new => true } %>
